<h2><%= @list.name %></h2>

<% @list.bookmarks.each do |b| %>
<%= b.movie.title %>
<%= b.comment %>
<% end %>

<%= cl_image_tag @list.photo.key, width: 400, height: 300, crop: :fill %>

<%= link_to "back to list", lists_path, class: "btn btn-light" %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
